/*---PARA EXTERIOR/INTERIOR---*/
.imgExtInt{
    display: flex;
    justify-content: center;
    div{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        max-width: fit-content;
        max-height: fit-content;
        img{
            height:300px;
            width: 300px;
            object-fit: fill;
            /*para que se ajuste al cuadrado*/
            &:hover{
                border: solid 2px;
                opacity: 0.9;
            }
        }
    }
}